<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
        <%= form_tag("/session", method: "post") do %>
          <%= label_tag(:email) %>
          <%= text_field_tag(:email) %><br>
          <%= label_tag(:password) %>
          <%= password_field_tag(:password) %><br>
          <%= submit_tag("Login") %>
        <% end %>
    </div>
  </div>
</div>