<h3>September-October</h3>
<ul>
  <li>
    <span class="bold">Register for the <%= link_to "SAT", "https://collegereadiness.collegeboard.org/sat/register" %> and/or <%= link_to "ACT", "https://www.act.org/content/act/en/products-and-services/the-act/registration-information.html" %></span>. Or find out if the school you're interested in is <%=link_to "test-optional", "http://www.fairtest.org/university/optional" %>  
  </li>
  <li>
    <span class="bold">Prepare and/or revise application essays.</span> Share your essays with parents and close friends. Make sure your voice comes out and of course, check for typos!
  </li>
  <li>
    <span class="bold">Ask for letters of recommendation.</span> Reach out to teachers who know you well and can speak to your strengths as a student. Be sure to give them plenty of notice so they can write you a good letter.
  </li>
</ul>

<h3>November-December</h3>
<ul>
  <li>
    <span class="bold">Submit early decision or early action applications, if desired.</span> Early Decision deadlines are usually in November. Early action may have multiple rounds.  
  </li>
   <li>
    <span class="bold">Submit regular decision applications.</span>Many Regular Decision deadlines are January 1st.
  </li>
  <li>
    <span class="bold">Send your SAT and/or ACT scores to schools where you are applying.</span>
  </li>
  <li>
    <span class="bold">Send transcripts to schools where you are applying.</span>
  </li>
  <li>
    <span class="bold">Submit the <%= link_to "CSS profile", "https://student.collegeboard.org/css-financial-aid-profile" %>.</span> 
  </li>
</ul>

<h3>January</h3>
<ul>
  <li>
    <span class="bold">Complete the <%= link_to "FAFSA", "https://fafsa.ed.gov/" %>.</span> The FAFSA is the main determinant of your federal financial aid and can be completed after January 1 of your senior year.
  </li>
   <li>
    <span class="bold">Compare award letters.</span>
  </li>
</ul>

<h3>March/April</h3>
<ul>
  <li>
    <span class="bold">Review acceptance letters.</span> Ask schools questions. This is where you will be for the next 4 years!
  </li>
   <li>
    <span class="bold">Decide!</span>
  </li>
</ul>

