<tr>
  <%= simple_form_for [school, bookmark] do |bookmark_fields| %>
  <td><%= link_to school.school_name, school %></td>
  <td><%= bookmark_fields.input :essay, label: false %></td>
  <td><%= bookmark_fields.input :letters, label: false %></td>
  <td><%= bookmark_fields.input :application, label: false %></td>
  <td><%= bookmark_fields.submit "Update Status", class:"btn btn-primary" %>
  <td><%= link_to "Remove School", school_bookmark_path(school.id, bookmark.id), method: :delete, class:"btn btn-danger" %></td>
  <% end %>
</tr>