
  <%= form_tag schools_path, :method => 'get' do %>
    <br>
    <div class="form-group">

      <div class="col-xs-11 col-xs-offset-1 col-xs-pull-1">
        <%= label_tag "query[school_name]", "Search by School" %>
        <%= text_field_tag "query[school_name]", "University of Washington", class: "form-control" %>
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="col-sm-4">

      <%= label_tag "query[school_region_id]", "Region:", class: " top-margin"%>
      <%= select_tag("query[school_region_id]", options_for_select(school_regions), multiple: true, class: "form-control" , )%>
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="col-sm-3">

    <%= label_tag "query[school_locale]", "Locale:", class: " top-margin" %>
    <%= select_tag("query[school_locale]", options_for_select(locale_types), multiple: true, class: "form-control") %>
    <br>

      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12">
            <%= label_tag :sort, "Sort By:", class: "top-margin" %>
            <%= select_tag :sort, options_for_select([['Cost In State', 'cost_in_state'],
                                                      ['Cost Out of State', 'cost_out_state'],
                                                      ['Size', 'size'],
                                                      ['Selectivity', 'selectivity'],
                                                      ['SAT Scores', 'sat_score']]) %>
          </div>
        </div>
      </div>
      <div class="form-group">
          <%= label_tag "Ascending:", "Ascending:", class: "inline-block" %>
          <%= radio_button_tag 'order', 'ASC', class: "inline-block" %>

      <%= label_tag "Descending:"%>
      <%= radio_button_tag 'order', 'DESC' %>
      </div>
      <br>
    </div>
    <div class="col-sm-1">
      <%= submit_tag "Search!", class: "btn btn-success btn-lg", id: "search-button" %>
    </div>
  <% end %>
</div>