<%= render partial: "header", locals: {user: @user} %>

<div class="container">
  <div class="row">
    <!-- sidebar -->
  <div class="col-sm-4">
    <div class="info-box fixed">
      <h3>Application Timeline</h3>
      <%= render partial: 'users/application_timeline' %>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="col-sm-12">
      <div class="info-box school-list">
        <h3>Your Schools</h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-condensed"
            <tr>
              <th>School</th>
              <th>Essay Written?</th>
              <th>Letters of Recommendation Written?</th>
              <th>Application Sent?</th>
              <th></th>
              <th></th>
            </tr>
            <% @user.schools.each do |school| %>
              <%= render partial: "checklist", locals: {school: school, bookmark: Bookmark.where("user_id = ? AND school_id = ?", @user.id, school.id).first} %>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
      <div class="info-box">
        <h3>Compare Your Schools</h3>
        <h5>Choose up to 5 of your schools for in-depth comparison:</h5>
        <%= form_tag comparisons_path, :method => 'get' do %>
          <%= label_tag "schools", "Select Schools To Compare:"%>
          <%= select_tag("schools", options_for_select(@user.schools), multiple: true) %>
          <%= submit_tag "See Comparison" %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="info-box">
        <h3>Your Reviews</h3>
        <ul>
        <% @user.reviews.each do |review| %>
          <li> <span><%= link_to review.school.school_name, school_path(review.school) %></span> | <%= review.body %> </li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="info-box">
        <h3>Recent Activity</h3>

      </div>
    </div>

  </div>
  </div>
</div>
