<h1>Cost</h1>

<table class="table table-striped">

 <caption>Tuition</caption>

  <tr>
    <td>Tuition In State</td>
    <td><%= number_to_currency(school.cost.tuition_in_state, precision:0) %></td>
  </tr>

  <tr>
    <td>Tuition Out of State</td>
    <td><%= number_to_currency(school.cost.tuition_out_of_state, precision:0) %></td>
  </tr>

</table>

<table class="table table-striped">
  <caption>Net Price by Income Level</caption>
  
  <tr>
    <td>$0-30,000</td>
    <td><%= school.cost.net_price_public_by_income_level_0_30000 || school.cost.net_price_private_by_income_level_0_30000 %></td>
  </tr>

  <tr>
    <td>$30,001-$48,000</td>
    <td><%= school.cost. net_price_public_by_income_level_30001_48000 || school.cost.net_price_private_by_income_level_30001_48000 %></td>
  </tr>

   <tr>
    <td>$48,001-$75,000</td>
    <td><%= school.cost. net_price_public_by_income_level_30001_48000 || school.cost.net_price_private_by_income_level_30001_48000 %></td>
  </tr>

   <tr>
    <td>$75,001-$110,000</td>
    <td><%= school.cost. net_price_public_by_income_level_30001_48000 || school.cost.net_price_private_by_income_level_30001_48000 %></td>
  </tr>

   <tr>
    <td>$110,001+</td>
    <td><%= school.cost. net_price_public_by_income_level_30001_48000 || school.cost.net_price_private_by_income_level_30001_48000 %></td>
  </tr>

  

</table>