<h1>Nearby Restaurants</h1>
<% restaurants.each do |restaurant| %>
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-3">
        <%= link_to restaurant.url do %>
          <%= image_tag restaurant.image_url, class: "img-rounded img-responsive" %>
        <% end %>
      </div>
      <div class="col-xs-9" id="restaurant-info">
        <%= link_to restaurant.name, restaurant.url %><br>
        Yelp Rating: <%= image_tag restaurant.rating_img_url %><br>
        <% restaurant.categories.each_with_index do |category, index| %>
          <%= category[0] %><%= "," unless index == restaurant.categories.length - 1 %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>