<h1>General Overview</h1>

<table class="table table-striped">

	<tr>
		<th>Subject</th>
		<th>Value</th>
	</tr>

	<tr>
		<td>Location</td>
		<td><%=school.location %></td>
	</tr>

	<tr>
		<td>Size</td>
		<td><%= school.student.size %></td>
	</tr>

	<tr>
		<td>Admission Rate</td>
		<td><%= to_percent(school.admission.admission_rate_overall) %></td>
	</tr>

	<tr>
		<td>Avg SAT Score (Math)</td>
		<td><%= school.admission.sat_scores_midpoint_math %></td>
	</tr>
	<tr>
		<td>Avg SAT Score (Critical Reading)</td>
		<td><%= school.admission.sat_scores_midpoint_critical_reading %></td>
	</tr>
	<tr>
		<td>Avg SAT Score (Writing)</td>
		<td><%= school.admission.sat_scores_midpoint_writing %></td>
	</tr>
	<tr>
		<td>Avg SAT Score (Cumulative)</td>
		<td><%= school.admission.sat_scores_average_overall %></td>
	</tr>

	<tr>
		<td>Tuition (in state)</td>
		<td><%= school.cost.tuition_in_state%></td>
	</tr>

	<tr>
		<td>Tuition (out of state)</td>
		<td><%= school.cost.tuition_in_state%></td>
	</tr>



</table>