<h1><%= @school.school_name %></h1>
	<%= image_tag @school.get_street_view, class: "img-rounded" %>

	<%= image_tag @school.get_map_url, class: "img-rounded" %><br>

<br>
School Site: <a href="<%= @school.school_school_url %>"><%= @school.school_school_url %></a><br>
<%= link_to "Bookmark", school_bookmarks_path(@school.id), method: :post %><br>
<%= link_to "See School Reviews" %>




<div id="exTab2" class="container">	
<ul class="nav nav-tabs">
			<li class="active"><a  href="#academics" data-toggle="tab">Overall</a></li>
			<li><a href="#academics" data-toggle="tab">Academics</a></li>
			<li><a href="#admissions" data-toggle="tab">Admissions</a></li>
			<li><a href="#aid" data-toggle="tab">Aid</a></li>
			<li><a href="#completion" data-toggle="tab">Completion</a></li>
			<li><a href="#cost" data-toggle="tab">Cost</a></li>
			<li><a href="#earnings" data-toggle="tab">Earnings</a></li>
			<li><a href="#repayment" data-toggle="tab">Repayment</a></li>
			<li><a href="#students" data-toggle="tab">Students</a></li>

		</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="overall">
          <%= render "school_table", school: @school %>
				</div>

				<div class="tab-pane" id="academics">
          <%= render "academics", school: @school %>
				</div>

				<div class="tab-pane" id="admissions">
          <h3>Notice the gap between the content and tab after applying a background color</h3>
				</div>

        <div class="tab-pane" id="aid">
          <h3>add clearfix to tab-content (see the css)</h3>
				</div>

				 <div class="tab-pane" id="completion">
          <h3>add clearfix to tab-content (see the css)</h3>
				</div>

				 <div class="tab-pane" id="cost">
          <h3>add clearfix to tab-content (see the css)</h3>
				</div>


				 <div class="tab-pane" id="earnings">
          <h3>add clearfix to tab-content (see the css)</h3>
				</div>


				 <div class="tab-pane" id="repayment">
          <h3>add clearfix to tab-content (see the css)</h3>
				</div>


				 <div class="tab-pane" id="students">
          <h3>add clearfix to tab-content (see the css)</h3>
				</div>

	
			</div>
  </div>

<hr></hr>

	