<h1><%= @school.school_name %></h1>
	<%= image_tag @school.get_street_view, class: "img-rounded" %>

	<%= image_tag @school.get_map_url, class: "img-rounded" %><br>

<br>
School Site: <a href="http://<%= @school.school_school_url %>" id="school-site-link"><%= @school.school_school_url %></a><br>

<% if signed_in_user? %>
  <% if bookmarked?(@school) %>
     <%= button_to "Unbookmark", school_bookmark_path(@school.id, find_user_bookmark(@school).id), method: :delete, class: "btn btn-success", id: "bookmark-button" %>
  <% else %>
   <%= button_to "Bookmark", school_bookmarks_path(@school.id), method: :post, class: "btn btn-success", id: "bookmark-button" %>
  <% end %>
<% end %><br>

<%= link_to "See School Reviews", school_reviews_path(@school.id), class: "btn btn-primary", id: "see-reviews-button" %>


<div id="exTab2" class="container">
<ul class="nav nav-tabs">
			<li class="active"><a  href="#overall" data-toggle="tab">Overall</a></li>

			<li><a href="#academics" data-toggle="tab">Academics</a></li>

			<li><a href="#admissions" data-toggle="tab">Admissions</a></li>
      <li><a href="#students" data-toggle="tab">Students</a></li>
			<li><a href="#aid" data-toggle="tab">Aid</a></li>
			<!-- <li><a href="#completion" data-toggle="tab">Completion</a></li> -->
			<li><a href="#cost" data-toggle="tab">Cost</a></li>
			<!-- <li><a href="#earnings" data-toggle="tab">Earnings</a></li> -->
			<li><a href="#repayment" data-toggle="tab">Repayment</a></li>

		</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="overall">
          <%= render "school_table", school: @school %>
				</div>

				<div class="tab-pane" id="academics">
          <%= render "academics", school: @school %>
				</div>

				<div class="tab-pane" id="admissions">
          <%= render "admission_table", school: @school %>
				</div>

        <div class="tab-pane" id="aid">
          <%= render "aid", school: @school %>
				</div>

				 <div class="tab-pane" id="cost">
          <%= render "cost", school: @school %>
				</div>

				<div class="tab-pane" id="repayment">
          <%= render "repayment", school: @school %>
				</div>

				 <div class="tab-pane" id="students">
          <%= render "student_table", school: @school %>
				</div>


			</div>
  </div>
<%= render "charts", school: @school %>
<hr></hr>
