<%= @school.school_name %>
add image?
add google maps?
<br>
<a href="<%= @school.school_school_url %>"><%= @school.school_school_url %></a>
<%= link_to "Bookmark", bookmarks_path, method: :post %>

<%= render "school_table", school: @school %>


