<nav id="login_nav" class="navbar navbar-fixed-top navbar-dark bg-primary">

  <div class="container">
    <div class="row">

      <div class="col-xs-3">
        <div class="logo-container">
          <%= link_to "College SC", root_path, class: "navbar-brand" %>
        </div>
      </div>

      <div class="col-xs-4 col-xs-offset-1">
        <div class="search-container">
          <div class="form-group pull-left form-inline">
            <%= form_tag schools_path, :method => 'get' do %>
              <%= text_field_tag "query[school_name]", nil, placeholder: "School Name", class: "form-control" %>
              <%= submit_tag "Search", class: "form-control" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="name-container">
          <p class="pull-right">
            <%= link_to "MySchools", user_path(current_user), style: "color: white" %> | 
            <%= link_to "Logout", logout_path, style: "color: white" %>
              
          </p>

        </div>
      </div>

    </div>
  </div>

</nav>